<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailData</key>
	<dict>
		<key>code</key>
		<integer>200</integer>
		<key>msg</key>
		<string>everytrade ok</string>
		<key>result</key>
		<array>
			<dict>
				<key>price</key>
				<string>496.58</string>
				<key>time</key>
				<string>14:59:59</string>
				<key>tradeNum</key>
				<string>3</string>
				<key>type</key>
				<string>E</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.60</string>
				<key>time</key>
				<string>14:59:56</string>
				<key>tradeNum</key>
				<string>1</string>
				<key>type</key>
				<string>E</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.20</string>
				<key>time</key>
				<string>14:59:53</string>
				<key>tradeNum</key>
				<string>15</string>
				<key>type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.50</string>
				<key>time</key>
				<string>14:59:50</string>
				<key>tradeNum</key>
				<string>5</string>
				<key>type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.50</string>
				<key>time</key>
				<string>14:59:47</string>
				<key>tradeNum</key>
				<string>2</string>
				<key>type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.79</string>
				<key>time</key>
				<string>14:59:44</string>
				<key>tradeNum</key>
				<string>3</string>
				<key>type</key>
				<string>B</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.42</string>
				<key>time</key>
				<string>14:59:41</string>
				<key>tradeNum</key>
				<string>17</string>
				<key>type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.47</string>
				<key>time</key>
				<string>14:59:38</string>
				<key>tradeNum</key>
				<string>5</string>
				<key>type</key>
				<string>S</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.50</string>
				<key>time</key>
				<string>14:59:35</string>
				<key>tradeNum</key>
				<string>1</string>
				<key>type</key>
				<string>B</string>
			</dict>
			<dict>
				<key>price</key>
				<string>496.66</string>
				<key>time</key>
				<string>14:59:32</string>
				<key>tradeNum</key>
				<string>2</string>
				<key>type</key>
				<string>B</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
